<!DOCTYPE html>
<html>
<%- partial('_partial/header') %>
<body>
<aside class="nav mobile">
    <div class="nav-left">
        <%- fragment_cache('left', function(){
            return partial('_partial/nav-left');
        }) %>
    </div>
    <div class="nav-right">
        <%- fragment_cache('friends', function(){
            return partial('_partial/friends');
        }) %>
        <%- fragment_cache('right', function(){
            return partial('_partial/nav-right');
        }) %>
    </div>
    <div class="hide-list">
        <div class="semicircle">
            <div class="brackets first"><</div>
            <div class="brackets">&gt;</div>
        </div>
    </div>
</aside>
<div class="post index">
    <div class="pjax">
        <article class="index">
            <%- partial('_partial/toc-ref', {index: true}) %>
            <%- partial('indexs.md') %>
        </article>
        <% if(theme.reward){%>
        <p>
            <a href="javascript:void(0)" class="dashang" onclick="dashangToggle()">赏</a>
        </p>
        <%}%>
        <%- partial('_partial/comment', {post: {comments: true}, index: false})%>
    </div>
    <div class="copyright">
        <%- fragment_cache('copyright', function(){
            return partial('_partial/copyright');
        }) %>
    </div>
    <div class="full-toc">
        <%- fragment_cache('toc', function(){
            return partial('_partial/full-toc');
        }) %>
    </div>
</div>
<div class="acParent"></div>
<% if (theme.reward) {%>
<%- fragment_cache('dashang', function(){
    return partial('_partial/dashang');
}) %>
<% } %>
</body>
<%- partial('_partial/footer') %>
</html>
