<!DOCTYPE html>
<html>
<%- partial('_partial/header') %>
<body>
<aside class="nav">
    <div class="nav-left">
        <%- fragment_cache('left', function(){
            return partial('_partial/nav-left');
        }) %>
    </div>
    <div class="nav-right">
        <%- fragment_cache('right', function(){
            return partial('_partial/nav-right');
        }) %>
    </div>
</aside>
<div class="post">
    <div class="pjax">
        <%- partial('_partial/article', {post: page, index: false}) %>
    </div>
    <div class="copyright">
        <%- fragment_cache('copyright', function(){
            return partial('_partial/copyright');
        }) %>
    </div>
</div>
<div class="full-toc">
    <%- fragment_cache('toc', function(){
        return partial('_partial/full-toc');
    }) %>
</div>
<div class="acParent"></div>
<%- fragment_cache('dashang', function(){
    return partial('_partial/dashang');
}) %>
</body>
<%- fragment_cache('footer', function(){
    return partial('_partial/footer');
}) %>
</html>
