<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <% if (post.title){ %>
        <h1 class="article-title"><%= post.title %></h1>
    <% } %>
    <div class="article-meta">
        <% if (post.top){ %>
        <span class="top"><a>置顶</a></span>
        <%}%>
        <% if (theme.author.on==true && post.author) {%>
        <span class="author"><a><%=post.author %></a></span>
        <%}%>
        <% if (post.categories && post.categories.length){ %>
        <span class="book">
            <i class="iconfont icon-category"></i>
            <% post.categories.forEach(function(category, i){ %>
            <a  data-rel="<%=category.name%>"><%=category.name%></a><% if (i !== post.categories.length - 1) { %> <% if (theme.category && theme.category.sub) {%>><%} else {%>/<%}%> <% } %>
            <% }) %>
        </span>
        <% } %>
        <% if (post.tags && post.tags.length){ %>
        <span class="tag">
            <i class="iconfont icon-tag"></i>
            <% post.tags.forEach(function(tag, i){ %>
            <a class="color<%= tag.name.length % 5 + 1 %>"><%=tag.name%></a>
            <% }) %>
        </span>
        <% } %>
    </div>
    <div class="article-meta">
        <% if (post.date){ %>
            <%= __('post.created_at') %> : <time class="date" title='<%= __('post.updated_at') %>: <%= date(post.updated, 'YYYY-MM-DD HH:mm:ss')%>'><%= date(post.date, 'YYYY-MM-DD HH:mm') %></time>
        <% } %>
    </div>
    <div class="article-meta">
        <%if(theme.word_count){%>
        <span><%= __('post.word_count') %>:<%=wordcount(post.content) %></span>
        <%}%>
        <%if(theme.visit_counter && theme.visit_counter.on && theme.visit_counter.page_visit) {%>
        <span id="busuanzi_container_page_pv">
            <%= __('post.views') %> :<span id="busuanzi_value_page_pv">
                <span class="count-comment">
                    <span class="spinner">
                      <div class="cube1"></div>
                      <div class="cube2"></div>
                    </span>
                </span>
            </span>
        </span>
        <%}%>
        <%if(theme.comment.on && theme.comment.type && theme.comment.comment_count){%>
        <span class="top-comment" title="跳转至评论区">
            <a href="#comments">
                <%= __('post.comment') %>:<span class="count-comment">
                    <span class="spinner">
                      <div class="cube1"></div>
                      <div class="cube2"></div>
                    </span>
                </span>
            </a>
        </span>
        <%}%>
    </div>
    <%if(post.originUrl){%>
    <div class="article-meta">
        <span class="origin">原文:
            <a href="<%=post.originUrl%>" target="_blank">
                <%if(post.originView){%>
                <%= post.originView%>
                <%} else {%>
                <%=post.originUrl%>
                <%}%>
            </a>
        </span>
    </div>
    <%}%>
    <%- partial('_partial/toc-ref', {index: false}) %>
    <% post.content = post.content.replace(/\[TOC\]/gi, "<div class='inner-toc'>" + toc(post.content, {list_number: false}) + '</div>') %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
       <% if(theme.article_txt){%><hr><span style="font-style: italic;color: gray;"> <%=theme.article_txt%> </span><%}%>
    </div>
</article>

<% if(theme.reward){%>
<p>
    <a  class="dashang" onclick="dashangToggle()"><%= __('donation.button') %></a>
</p>
<%}%>
<%- partial('_partial/article_copyright')%>
<%- partial('_partial/comment', {post: post, index: index})%>

<% if (theme.mathjax.on){ %>
    <% if (theme.mathjax.per_page){ %>
        <%- partial('mathjax') %>
    <% } else if(page.mathjax){ %>
        <%- partial('mathjax') %>
    <% }%>
<% } %>

<% if (page.bgImg) {%>
    <style>
        #post {
            background: url(<%=page.bgImg%>) !important;
        }
    </style>
<% }%>
