<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
      <% if (post.date){ %>
      <time class="date" title="<%= date(post.date, 'YYYY-MM-DD HH:mm:ss')%>"><%= date(post.date, 'YYYY-MMM-DD') %></time>
      <% } %>
      <%if(theme.word_count){%>
      <span>字数:<%=wordcount(post.content) %></span>
      <%}%>
      <% if (post.tags && post.tags.length){ %>
      <span class="tag">
        <% post.tags.forEach(function(tag, i){ %>
      <a href="javascript:" class="color<%= tag.name.length % 5 + 1 %>"><%=tag.name%></a>
        <% }) %>
      </span>
      <% } %>
      <% if (theme.author.on==true && post.author) {%>
      <span class="author"><%=post.author %></span>
      <%}%>
      <% if (post.top){ %>
      <span class="top">置顶</span>
      <%}%>
  </div>
    <% if (post.title){ %>
        <h1 class="article-title"><%= post.title %></h1>
    <% } %>
    <div class="toc-ref">
        <%- partial('_partial/toc-ref') %>
    </div>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
</article>
<% if(theme.reward){%>
<p>
    <a href="javascript:void(0)" class="dashang" onclick="dashangToggle()">赏</a>
</p>
<%}%>
<%- partial('_partial/article_copyright')%>
<%- partial('_partial/comment', {post: post, index: index})%>