<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
      <% if (post.date){ %>
      <time class="date" datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'YYYY MMMM DD') %></time>
      <% } %>
      <% if (post.tags && post.tags.length){ %>
      <span class="tag">
        <% post.tags.forEach(function(tag, i){ %>
      <a href="javascript:"><%=tag.name%></a><% if (i+1<post.tags.length){%>,<%}%>
        <% }) %>
      </span>
      <% } %>
  </div>
    <% if (post.title){ %>
        <h1 class="article-title"><%= post.title %></h1>
    <% } %>
    <div class="toc-ref">
        <%- partial('_partial/toc-ref') %>
    </div>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>