<div class="hide_box" onclick="dashangToggle()"></div>
<div class="shang_box">
    <a class="shang_close"  onclick="dashangToggle()">×</a>
    <div class="shang_tit">
        <p><%= __('donation.headline') %></p>
    </div>
    <div class="shang_payimg">
        <div class="pay_img">
            <img src="<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/img/alipay.jpg" class="alipay" title="扫码支持">
            <img src="<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/img/weixin.jpg" class="weixin" title="扫码支持">
        </div>
    </div>
    <div class="shang_payselect">
        <span><label><input type="radio" name="pay" checked value="alipay"><%= __('donation.alipay') %></label></span><span><label><input type="radio" name="pay" value="weixin"><%= __('donation.weixin') %></label></span>
    </div>
</div>
