<head>
  <meta charset="utf-8">
  <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
    <%- fragment_cache('meta', function(){
      return partial('_partial/meta');
    }) %>
</head>
<div style="display: none">
  <input class="theme_disqus_on" value="<%=theme.disqus.on%>">
  <input class="theme_duoshuo_on" value="<%=theme.duoshuo.on%>">
  <input class="theme_preload_comment" value="<%=theme.preload_comment%>">
  <input class="theme_duoshuo_domain" value="<%=theme.duoshuo.domain%>">
</div>