<head>
  <meta charset="utf-8">
  <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
  <meta name="keywords" content="<% if (page.tags && page.tags.length){ page.tags.forEach(function(tag, i){%> <%=tag.name%> <% if (i+1<page.tags.length){%>,<%} })}%>">
  <meta name="description" content="<% if (page.title){ %><%= page.title %> | <% } %><%= config.title %>">
    <%- fragment_cache('meta', function(){
      return partial('_partial/meta');
    }) %>
</head>
<div style="display: none">
  <input class="theme_disqus_on" value="<%=(theme.comment.type=='disqus')%>">
  <input class="theme_preload_comment" value="<%=theme.comment.preload_comment%>">
  <input class="theme_blog_path" value="<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>">
</div>
