<a href="<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/" class="avatar_target">
    <img class="avatar" src="<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %><%=theme.avatar %>" />
</a>
<div class="author">
    <span><%=config.author%></span>
</div>

<div class="icon">
    <% for (var key in theme.link.items){ %>
        <% if(theme.link.items[key]){%>
        <a title="<%= key %>" href="<% if(key=='qq') { %>http://wpa.qq.com/msgrd?v=3&uin=<%=theme.link.items[key] %>&site=qq&menu=yes<%}else{ if(key=='email') {%>mailto:<%}%><%=theme.link.items[key]%><% }%>" target="_blank">
            <% if(theme.link.theme=='white'){%>
                <i class="iconfont icon-<%= key %>"></i>
            <%} else {%>
                <svg class="iconfont-svg" aria-hidden="true">
                    <use xlink:href="#icon-<%= key %>"></use>
                </svg>
            <%}%>
        </a>
        <%}%>
    <% } %>
</div>
<% var menus = 0%>
<% for (var menu in theme.menu.menus) {  if (theme.menu.menus[menu].on) {menus++}}%>
<% if (menus>0){%>
<a class="more-menus">更多菜单</a>
<%}%>
<%
if (theme.category && theme.category.sub) {
    var childCategory = {};
    site.categories.forEach(function (category) {
        if (category.parent) {
            if (childCategory[category.parent]) {
                childCategory[category.parent].push(category);
            } else {
                childCategory[category.parent] = [category];
            }
        }
    })
}

%>
<ul>
    <li><div class="all active">全部文章<% if (theme.category && theme.category.num) { %><small>(<%=site.posts.length%>)</small><%}%></div></li>
    <% site.categories.forEach(function(category){ %>
        <% if (theme.category && theme.category.sub) { %>
            <% if(!category.parent) { %>
            <li><div data-rel="<%=category.name%>"><% if (childCategory[category._id]) {%><i class="fold iconfont icon-right"></i><% } %><%=category.name%><% if (theme.category && theme.category.num) { %><small>(<%= category.posts.length %>)</small><%}%></div>
                <% if (childCategory[category._id]) {%>
                    <ul class="sub hide">
                        <% childCategory[category._id].forEach(function (child) { %>
                        <li><div data-rel="<%=child.name%>"><% if (childCategory[child._id]) {%><i class="fold iconfont icon-right"></i><% } %><%=child.name%><% if (theme.category && theme.category.num) { %><small>(<%= child.posts.length %>)</small><%}%></div>
                            <% if (childCategory[child._id]) {%>
                                <ul class="sub hide">
                                    <% childCategory[child._id].forEach(function (child2) { %>
                                    <li><div data-rel="<%=child2.name%>"><% if (childCategory[child2._id]) {%><i class="fold iconfont icon-right"></i><% } %><%=child2.name%><% if (theme.category && theme.category.num) { %><small>(<%= child2.posts.length %>)</small><%}%></div>
                                    </li>
                                    <% }) %>
                                </ul>
                            <% } %>
                        </li>
                            <% }) %>
                    </ul>
                <% } %>
            </li>
            <% } %>
        <% } else { %>
            <li><div data-rel="<%=category.name%>"><%=category.name%><% if (theme.category && theme.category.num) { %><small>(<%= category.posts.length %>)</small><%}%></div></li>
        <% } %>
    <% }) %>
</ul>
<div class="left-bottom">
    <div class="menus">
    <% for (var menu in theme.menu.menus) {%>
    <% if (theme.menu.menus[menu].on) {%>
    <a class="dynamic-menu <%=(theme.menu.menus[menu].type==1 ?'site_url':'')%>" <%if(theme.menu.menus[menu].type==2){%>target="_self" <%}else if(theme.menu.menus[menu].type==3){%>target="_blank"<%}%>  href="<%=theme.menu.menus[menu].url%>"><%=menu %></a>
    <%}}%>
    </div>
    <div><% if (theme.menu.about.on) {%><a class="about <%if(theme.menu.friend.on){%> hasFriend <%}%> <%=(theme.menu.about.type==1 ?'site_url':'')%>" <%if(theme.menu.about.type==2){%>target="_self" <%}else if(theme.menu.about.type==3){%>target="_blank"<%}%> href="/about">关于</a><% } %><% if (theme.menu.friend.on){%><a <% if (theme.menu.about.on) {%>style="width: 50%" <%}%> class="friends">友链</a><%}%></div>
</div>
<input type="hidden" id="yelog_site_posts_number" value="<%=site.posts.length%>">
<% if(theme.word_count){%><input type="hidden" id="yelog_site_word_count" value="<%=totalcount(site)%>"><%}%>
<div style="display: none">
    <span id="busuanzi_value_site_uv"></span>
    <span id="busuanzi_value_site_pv"></span>
</div>
