<a href="/" class="avatar" style="background-image:url(<%=theme.avatar%>)"></a>
<div class="author">
    <span><%=config.author%></span>
</div>
<div class="icon">
    <% if(theme.link.rss){%>
    <a class="rss" title="rss" href="<%= theme.link.rss %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.github){%>
    <a class="github" title="github" href="<%= theme.link.github %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.facebook){%>
    <a class="facebook" title="facebook" href="<%= theme.link.facebook %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.twitter){%>
    <a class="twitter" title="twitter" href="<%= theme.link.twitter %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.linkedin){%>
    <a class="linkedin" title="linkedin" href="<%= theme.link.linkedin %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.instagram){%>
    <a class="instagram" title="instagram" href="<%= theme.link.instagram %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.reddit){%>
    <a class="reddit" title="reddit" href="<%= theme.link.reddit %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.weibo){%>
    <a class="weibo" title="weibo" href="<%= theme.link.weibo %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.email){%>
    <a class="email" title="email" href="mailto:<%= theme.link.email %>"></a>
    <%}%>
</div>
<ul>
    <li class="all active">全部文章</li>
    <% site.categories.forEach(function(category, i){ %>
    <li data-rel="<%=category.name%>"> <%=category.name%> </li>
    <% }) %>
</ul>
<input type="hidden" id="yelog_site_posts_number" value="<%=site.posts.length%>">
<% if(theme.word_count){%><input type="hidden" id="yelog_site_word_count" value="<%=totalcount(site)%>"><%}%>