<a href="/" class="avatar_target">
    <img class="avatar" src="<%=theme.avatar%>" />
</a>
<div class="author">
    <span><%=config.author%></span>
</div>
<div class="icon">
    <% if(theme.link.rss){%>
    <a class="rss" title="rss" href="<%= theme.link.rss %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.github){%>
    <a class="github" title="github" href="<%= theme.link.github %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.facebook){%>
    <a class="facebook" title="facebook" href="<%= theme.link.facebook %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.twitter){%>
    <a class="twitter" title="twitter" href="<%= theme.link.twitter %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.linkedin){%>
    <a class="linkedin" title="linkedin" href="<%= theme.link.linkedin %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.instagram){%>
    <a class="instagram" title="instagram" href="<%= theme.link.instagram %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.reddit){%>
    <a class="reddit" title="reddit" href="<%= theme.link.reddit %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.weibo){%>
    <a class="weibo" title="weibo" href="<%= theme.link.weibo %>" target="_blank"></a>
    <%}%>
    <% if(theme.link.email){%>
    <a class="email" title="email" href="mailto:<%= theme.link.email %>"></a>
    <%}%>
</div>
<ul>
    <li class="all active">全部文章</li>
    <% site.categories.forEach(function(category, i){ %>
    <li data-rel="<%=category.name%>"> <%=category.name%> </li>
    <% }) %>
</ul>
<div class="left-bottom">
    <a class="about" href="/about">关于</a><a class="friends">友链</a>
</div>
<input type="hidden" id="yelog_site_posts_number" value="<%=site.posts.length%>">
<% if(theme.word_count){%><input type="hidden" id="yelog_site_word_count" value="<%=totalcount(site)%>"><%}%>
<div style="display: none">
    <span id="busuanzi_value_site_uv"></span>
    <span id="busuanzi_value_site_pv"></span>
</div>
<% if (theme.img_resize == 'photoSwipe') {%>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
<% } %>