<div id="comments"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">

<script type="text/javascript">
    $.getScript('https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js', function () {
        var gitalk = new Gitalk({
            clientID: '<%=theme.gitalk.ClientID %>',
            clientSecret: '<%=theme.gitalk.ClientSecret %>',
            repo: '<%=theme.gitalk.repo %>',
            owner: '<%=theme.gitalk.githubID %>',
            admin: ['<%=theme.gitalk.adminUser %>'],
            id: location.pathname,
            distractionFreeMode: '<%=theme.gitalk.distractionFreeMode %>',
            language: '<%=theme.gitalk.language %>',
            perPage: parseInt('<%=theme.gitalk.perPage %>',10)
        })
        gitalk.render('comments')
    })
</script>