<div id="comments"></div>
<link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
<%-js ('js/gitment.js')%>
<script>
    var gitment = new Gitment({
        id: '<%=url %>', // 可选。默认为 location.href
        owner: '<%=theme.gitment.owner %>',
        repo: '<%=theme.gitment.repo %>',
        oauth: {
            client_id: '<%=theme.gitment.client_id %>',
            client_secret: '<%=theme.gitment.client_secret %>',
        },
    })
    gitment.render('comments')
</script>
